.body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    position :relative;
    bottom: 20px;
}

.player{
    font-size: 24px;
    font-weight: bold;
}

.btn{
    display: none;
    border-radius: 10px;
    width: 100px;
    font-size: 18px;
    margin-left: 20px;
}

.display{
    display: block;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container div:nth-child(2n){
    background-color: rgba(0, 0, 0, 0.5);
}
.container div:nth-child(2n+1){
    background-color: rgba(0, 0, 0, 0.3);
}

.inside{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    width: 200px;
    height: 200px;
}
