.body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player{
    position :relative;
    bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container div:nth-child(2n){
    background-color: rgba(0, 0, 0, 0.5);
}
.container div:nth-child(2n+1){
    background-color: rgba(0, 0, 0, 0.3);
}

.inside{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    width: 200px;
    height: 200px;
}

/* .one{
background-color: rgba(0, 0, 0, 0.5)
}
.two{
background-color: rgba(0, 0, 0, 0.5)
}
.three{
    background-color: rgba(0, 0, 0, 0.5)
}
.four{
    background-color: rgba(0, 0, 0, 0.5)
}
.five{
    background-color: rgba(0, 0, 0, 0.5)
}
.six{
    background-color: rgba(0, 0, 0, 0.5)
}
.seven{
    background-color: rgba(0, 0, 0, 0.5)
}
.eight{
    background-color: rgba(0, 0, 0, 0.5)
}
.nine{
    background-color: rgba(0, 0, 0, 0.5)
} */